.bloodInfo {
  line-height: 32px;
}
.bloodInfo img {
  margin-bottom: 12px;
}
.bloodInfo h1 {
  position: relative;
}
.bloodInfo h1:before {
  content: "";
  display: block;
  border-top: 1px solid #2EBD9B;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.bloodInfo span {
  color: #2EBD9B;
  padding-right: 10px;
  font-size: 28px;
  background: #fff;
  display: inline-block;
  position: relative;
}

.bloodInfo-block {
  margin-bottom: 20px;
}

.storage-center {
  color: #8A6D3B;
  font-size: 16px;
}

.bloodType {
  border-radius: 20px;
  padding: 8px 25px 8px 25px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
}

.full {
  background: #2EBD9B;
}

.medium {
  background: #F7BC33;
}

.empty {
  background: #EF5361;
}

.progress-bar-custom {
  background: #c5c6c7;
}
